<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div class="header navbar navbar-default" th:fragment="frameHead">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    易书博客后台管理系统
                </a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="javascript:logout()"><span class="glyphicon glyphicon-log-out">&nbsp;</span>安全退出</a>
                </li>
            </ul>
        </div>
    </div>
</head>
</html>