<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <div class="left" th:fragment="frameBody">
            <!-- 用户信息 -->
            <div class="user-info">
                <div class="info-icon">
                    <img  th:src="${'/static/img/headicon/'+session.user.headIcon}"  width="80px" height="80px" class="img-circle" alt="">
                </div>
                <div class="info-name">[[${session.user.nickname}]]</div>
            </div>
            <!-- 菜单 -->
            <div class="list-group text-center">
                <a href="getMainPage.action" class="list-group-item active"><i class="fa fa-dashboard"></i> 总览</a>
                <a href="getBannerPage.action" class="list-group-item"><i class="fa fa-file-image-o"></i> 轮播管理</a>
                <a href="getBlogPage.action" class="list-group-item"><i class="fa fa-file-text-o"></i> 博客管理</a>
                <a href="getCategoryPage.action" class="list-group-item"><i class="fa fa-bars"></i> 类别管理</a>
                <a href="getTagPage.action" class="list-group-item"><i class="fa fa-tags"></i> 标签管理</a>
                <a href="getMessagePage.action" class="list-group-item"><i class="fa fa-comment"></i> 留言管理</a>
                <a href="getLinkPage.action" class="list-group-item"><i class="fa fa-chain"></i> 友情链接</a>
                <a href="settings.html" class="list-group-item"><i class="fa fa-gear"></i> 个人设置</a>
            </div>
            <div class="copy">Design by JDCH &copy; ZoisiteSky</div>
        </div>
</head>
</html>

