<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css"
          href="/static/asserts/bootstrap-3.3.7-dist/css/bootstrap.min.css"/>
    <link rel="stylesheet"
          href="/static/asserts/font-awesome-4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/css/layui/css/modules/layer/default/layer.css" media="all">
    <style>
        .zoomImage {
            max-height: 100px;
        }
        a:hover{
            text-decoration: none;
        }
    </style>
</head>
<body>
<div id="head" th:replace="user/frameHead :: frameHead"></div>


<div class="body">
    <!-- 侧边栏 -->
    <div id="body" th:replace="user/frameBody :: frameBody"></div>
    <!-- 内容展示区 -->
    <div class="right">
        <ol class="breadcrumb">
            <li><i class="fa fa-gear"></i> 个人设置</li>
        </ol>
        <div class="container-fluid">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>密码修改</strong>
                </div>
                <div class="panel-body">
                    <form action="updatePassword.action" id="form" class="form col-xs-6 col-xs-offset-3">
                        <input type="hidden" name="id" value="${user.id}">
                        <div class="form-group" style="margin-top: 100px">
                            <label class="sr-only">旧密码</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="login-icon fa fa-lock"></i>
                                </div>
                                <input type="password" name="oldPassword" id="oldPassword" class="form-control" placeholder="请输入旧密码"/>
                            </div>
                        </div>
                        <div class="form-group" style="margin-top: 30px">
                            <label class="sr-only">新密码</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="login-icon fa fa-lock"></i>
                                </div>
                                <input type="password" name="password" id="password" class="form-control" placeholder="请输入新密码"/>
                            </div>
                        </div>
                        <div class="form-group" style="margin-top: 30px">
                            <label class="sr-only">确认密码</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="login-icon fa fa-lock"></i>
                                </div>
                                <input type="password" name="rePassword" class="form-control" placeholder="确认新密码"/>
                            </div>
                        </div>
                        <div class="form-group"style="margin-top: 30px;text-align: center">
                            <button class="btn btn-primary" type="submit" id="submit">修改</button>
                            <button class="btn btn-danger" type="reset">重置</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 		js插件 -->
<script src="/static/css/layui/layui.js" charset="utf-8"></script>
<script src="/static/js/jquery-3.2.1.min.js"></script>
<script src="/static/asserts/layer/layer.js"></script>
<script src="/static/asserts/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="/static/js/comm.js"></script>
<script>

</script>
</body>
</html>