<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>个人设置</title>
    <link rel="stylesheet" type="text/css"
          href="/static/asserts/bootstrap-3.3.7-dist/css/bootstrap.min.css"/>
    <link rel="stylesheet"
          href="/static/asserts/font-awesome-4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/css/layui/css/modules/layer/default/layer.css" media="all">
    <style>
        .zoomImage {
            max-height: 100px;
        }
        a:hover{
            text-decoration: none;
        }
    </style>
</head>
<body>
<div id="head" th:replace="user/frameHead :: frameHead"></div>


<div class="body">
    <!-- 侧边栏 -->
    <div id="body" th:replace="user/frameBody :: frameBody"></div>

    <!-- 内容展示区 -->
    <div class="right">
        <ol class="breadcrumb">
            <li><i class="fa fa-gear"></i> 个人设置</li>
        </ol>
        <div class="container-fluid">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>个人信息修改</strong>
                </div>
                <div class="panel-body" th:object="${session.user}">
                    <form  class="layui-form form col-xs-6 col-xs-offset-3"  id="form"
                          enctype="multipart/form-data">
                        <input type="text" name="id" th:value="*{id}" hidden>

                        <div class="form-group">
                            <label for="headIcon">头像设置</label>
                            <input type="file" id="headIcon" name="headIcon" />
                            <br/>
                            <img th:src="*{'/static/img/headicon/'+headIcon}"
                                 id="preview-headIcon" class="zoomImage" alt=""/>
                        </div>
                        <div class="form-group">
                            <label for="wxCode">二维码设置</label>
                            <input type="file" id="wxCode" name="wxCode" />
                            <br/>
                            <img th:src="*{'/static/img/wxcode/'+wxCode}"
                                 id="preview-wxCode" class="zoomImage" alt=""/>
                        </div>
                        <div class="form-group">
                            <label class="sr-only">账号</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-user"></span>
                                </div>
                                <input type="text" class="form-control" disabled readonly
                                       th:value="*{username}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="sr-only">昵称</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-tag"></span>
                                </div>
                                <input type="text" name="nickname" class="form-control" placeholder="请输入昵称"
                                       lay-verify="required" lay-reqtext="昵称不能空？" th:value="*{nickname}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="sr-only">手机号码</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-phone-alt"></span>
                                </div>
                                <input type="text" name="phone" class="form-control" placeholder="请输入手机号"
                                       lay-verify="required|phone"   th:value="*{phone}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="sr-only">邮箱地址</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-envelope"></span>
                                </div>
                                <input type="text" name="email" class="form-control" placeholder="请输入邮箱地址"
                                       lay-verify="email"  th:value="*{email}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="sr-only">个人简介</label>
                            <textarea name="summary" class="form-control" placeholder="请输入个人简介" id="summary"
                                      rows="5">[[*{summary}]]</textarea>
                        </div>
                        <div class="form-group">
                            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="submit" type="submit" id="submit">修改</button>
                            <button class="layui-btn layui-btn-danger" type="reset">重置</button>
                            <a href="password.html" class="layui-btn" style="float:right;display:block;" >修改密码</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- 		js插件 -->
<script src="/static/css/layui/layui.js" charset="utf-8"></script>
<script src="/static/js/jquery-3.2.1.min.js"></script>
<script src="/static/asserts/layer/layer.js"></script>
<script src="/static/asserts/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="/static/js/comm.js"></script>
<script>
    $(function () {
        //图片预览
        $('#headIcon,#wxCode').on('change', function () {
            var that = $(this);
            var reader = new FileReader();
            //读取图片文件
            reader.readAsDataURL($(this).get(0).files[0]);
            //当图片文件被加载时获取资源(base64编码)
            reader.onload = function (e) {
                $('#preview-' + that.attr('id')).attr('src', e.target.result);
            }
        });
    });

    layui.use('form', function(){
        var form = layui.form;
        form.on('submit(submit)', function(data){
            var formData = new FormData($("#form")[0]);
            $.ajax({
                type: "POST",
                url: "userUpdate.action",
                data: formData,
                cache: false,
                processData: false,
                contentType: false,
                success: function (data) {
                    if(data.code===0){
                        layer.msg('修改成功!', {icon: 1, time: 1000});
                        $("div[class='info-name']").text(data.t.nickname);
                        if (data.headIcon != null) {
                            $("img[class='img-circle']").attr("src","/static/img/headicon/"+data.t.headIcon);
                        }
                    }else{
                        layer.msg('修改失败!', {icon: 5, time: 1000});
                    }
                },
                error: function () {
                    layer.msg('修改失败!', {
                        icon: 5,
                        time: 1000
                    });
                }
            });
            return false;
        });
    });
</script>
</body>
</html>

